{%  extends 'base.html' %}
{% load static %}

{% block head_title %}Homepage{% endblock %}

{% block content %}
    <h1>Home page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed purus vel magna placerat feugiat.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Etiam commodo ex sit amet elit blandit faucibus. Aenean tellus libero, imperdiet ac dictum quis, sollicitudin et erat. Suspendisse potenti. Proin non maximus ex. Praesent rutrum vestibulum lorem, vel efficitur leo hendrerit vel. Proin imperdiet erat vitae massa porttitor, at dapibus turpis posuere. Aenean convallis dui est.
    </p>
    <p>
        Morbi suscipit sem eleifend arcu eleifend volutpat. In nec eros finibus, efficitur dolor id, fringilla justo. Praesent enim sem, ornare a luctus ut, hendrerit ut lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur ornare nisi vitae finibus elementum. Quisque sagittis enim viverra velit rutrum, vel auctor mi efficitur. Duis at lacus ut purus lobortis ultrices sit amet a sem. Maecenas pharetra nisl vel interdum bibendum. Nulla viverra pellentesque mollis.
    </p>
    <p>
        Integer metus est, vestibulum sit amet accumsan id, sollicitudin eget nulla. Duis arcu diam, molestie a aliquet non, vehicula quis ligula. Duis ac nunc at dolor posuere aliquet. Mauris viverra volutpat nisi vitae viverra. Cras sem justo, pretium consequat tristique vitae, interdum a massa. Etiam sed ultrices velit. Suspendisse laoreet ultricies scelerisque.
    </p>
    <img src="{% static 'img/stupid_image.jpg' %}">
{% endblock %}